.sidebar {
    @apply flex items-center flex-col p-3 border-r-2;
    border-color: rgba(255, 255, 255, 0.1);
    width: 80px;
    min-height: 100vh;

    .logoContainer {
        width: 50px;
        height: 50px;
    }

    .menu {
        @apply flex-1 flex flex-col items-stretch justify-center gap-5;

        .menuItem {
            @apply flex gap-2 items-center p-3 rounded hover:bg-gray-700 transition-colors duration-300;

            &.active {
                @apply text-red-400;
            }
        }
    }
}
