/* MessageInput.css */
.message-input {
	display: flex;
	margin: 10px;
}

.message-input input {
	flex: 1;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-right: 5px;
}

.message-input button {
	padding: 8px 15px;
	font-size: 16px;
	background-color: #f1623e;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
